<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0gGfAQpLiF1sjNtwxs_NfC7pjQq-weTA</string>
	<key>GCM_SENDER_ID</key>
	<string>755028020379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tehine</string>
	<key>PROJECT_ID</key>
	<string>tehine-d69bf</string>
	<key>STORAGE_BUCKET</key>
	<string>tehine-d69bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755028020379:ios:39a6e4daa0f4ce85178a3e</string>
</dict>
</plist>